<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{{ data }}
<form action="logread" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <td>UserName</td>
            <td><input type="text" name="txtUserName"></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="txtPswd"></td>
        </tr>
        <tr>
            <td><input type="submit" name="btnsub" value="Submit"></td>
        </tr>
    </table>
</form>



</body>
</html>